.container-fluid {
    margin: 20px;
}
.vertical-center {
    min-height: 90%;
    min-height: 90vh;

    display: flex;
    align-items: center;
}

#chart .c3-axis {
    stroke-width: 2px;
}
#chart .c3-axis-x-label {
    font: 24px sans-serif;
}
#chart .c3-axis-y-label {
    font: 24px sans-serif;
    fill: darkred;
}
#chart .c3-axis-y2-label {
    font: 24px sans-serif;
    fill: dimgray;
}
#chart .tick {
    font: 20px sans-serif;
}
#chart .c3-area {
    opacity: 1;
    stroke-width: 0px;
}
#chart .c3-line-SpO2 {
    stroke-width: 2px;
}
#chart .c3-line-FiO2 {
    stroke-width: 2px;
}

.current-display {
    font: 72px sans-serif;
    font-weight: bold;
    line-height: 0.5;
}
.current-display-box {
    margin-top: -20px;
    margin-bottom: 60px;
}

