.container-fluid {
    margin: 20px;
}
.vertical-center {
    min-height: 90%;
    min-height: 90vh;

    display: flex;
    align-items: center;
}

#chart .c3-axis {
    stroke-width: 2px;
}
#chart .c3-axis-x-label {
    font: 24px sans-serif;
}
#chart .c3-axis-y-label {
    font: 24px sans-serif;
}
#chart .tick {
    font: 20px sans-serif;
}
#chart .c3-area {
    opacity: 1;
    stroke-width: 0px;
}
#chart .c3-line-SpO2 {
    stroke-width: 3px;
}
#chart .c3-line-FiO2 {
    stroke-width: 3px;
}
.c3-ygrid-line-hidden {
    stroke-width: 0px;
}
#chart .spO2-target-label {
    font: bold 24px sans-serif;
}
#chart .spO2-label {
    font: bold 24px sans-serif;
}
#chart .fiO2-label {
    font: bold 24px sans-serif;
}
#chart .c3-grid text {
    fill: #333;
}

/*
#current-display {
    margin-left: 20px;
}
*/
.current-display {
    font: 72px sans-serif;
    font-weight: bold;
    line-height: 0.5;
}
#current-spo2-display{
    color: #175e54;
}
#current-fio2-display{
    color: dimgray;
}
#current-hr-display{
    color: #53284F;
}
.current-display-box {
    margin-top: -20px;
    margin-bottom: 40px;
}

